.container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.Wrap{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.divBoxSingle{ 
    display: flex;
    width: 119px;
    height: 55px;
background-color: aquamarine;
     border: 5px solid black; 
    margin: 1px; 
    transition: all 5ms;
 } 
 input{
    padding-right: 0px;
    margin-bottom: 10px;
    margin-left: 45%;
    border-width: 3px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
 }
button{
    margin-bottom: 10px;
}
button:hover {
    background-color: yellow;
} 


